#em-destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

h3.stylish-border {
    color: rgb(255, 194, 40);
    font-weight: bold;
    font-size: large;
    border-bottom: solid 1px;
}

.columns.is-gapless {
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
}

.home-div {
    min-height: 82vh;
    padding-bottom: 1%;
}

@media only screen and (max-width: 768px) {

    #em-destaque {
        padding: 3% 0 3% 0;
    }

    #formCenter {
        width: 90%;
    }

    .home-div {
        height: 100vh;
        padding-bottom: 1%;
    }

    .image.is-96x96 {
        height: 36px;
        width: 36px;
        padding: 0 2% 0 2%;
    }

    .columns.is-gapless {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
    }
}